<h1>YOUR MUSIC</h1>

<form id="searchMusic">
	<input type="text" id="term"/>
	<input type="button" id="searchButton" value="Gogo!"/>
</form>

<div id="results">
  <% @songs.each do |song| %>
    <%= song.title %> - displays artist - song name<br/>
    <%= song.artist %> - displays nothing<br/><br/>
  <% end %>
</div>
