<h1>YOUR MUSIC</h1>

<form id="searchMusic">
	<input type="text" id="term"/>
	<input type="button" id="searchButton" value="Gogo!"/>
</form><br/>

<div id="results">
  <% temp = nil %>
  <% count = 0 %>
  <% @songs.each do |song| %>
      <% if !temp.eql?(song.artist) %>
        <% if count > 0 %>
          </div>
          </div>
          <% count = 0 %>
        <% end %>
        <div class="song">
        <% if temp == nil %>
          <%= link_to "Misc", "#", :class => "artist" %><br/>
          <div class="titles">
        <% else %>
          <%= link_to song.artist, "#", :class => "artist" %><br/>
          <div class="titles">
        <% end %>
      <% end %>
      <div>
        <%= link_to song.title.html_safe, "#" %><br/>
        <div class="videourl">
        <% if !song.yturl.nil? %>
          <%= song.yturl %>
        <% end %>
        </div>
        <div class="video"></div>
      </div>
    <% temp = song.artist %>
    <% count = count + 1 %>
  <% end %>
</div>
