<h1>YOUR MUSIC</h1>

<form id="searchMusic">
	<input type="text" id="term"/>
	<input type="button" id="searchButton" value="Gogo!"/>
</form>

<div id="results">
  <% temp = nil %>
  <% @songs.each do |song| %>
      <% if !temp.eql?(song.artist) %>
          <% if temp == nil %>
            <%= link_to "Misc", "#", :class => "artist" %><br/>
          <% else %>
            <%= link_to song.artist, "#", :class => "artist" %><br/>
          <% end %>
      <% end %>
    <div class="title">
    <%= song.title.html_safe %><br/>
    </div>
    <% temp = song.artist %>
  <% end %>
</div>
