body {
	font-family: Helvetica,Arial;
	font-size:14px;
}

.controls {
  display:none;
}

.invalid {
  display:none;
}

#results {
	border-radius:10px;
	background-color:#CCCCCC;
	padding-left:10px;
	padding-top:10px;
}

.titles {
	display:none;
}

.videourl {
  display:none;
}

A:link {
	text-decoration: none;
	color:black;
}

A:visited {
	text-decoration: none;
	color:black;
}

A:active {
	text-decoration: none;
	color:black;
}

A:hover {
	text-decoration: none;
	font-weight:bold;
}

.titles {
	margin-left:50px;	
}
