body {
	font-family: Helvetica,Arial;
	font-size:14px;
}


#results {
	border-radius:10px;
	background-color:#CCCCCC;
	padding-left:10px;
	padding-top:10px;
}

.titles {
	background-color:;
	display:none;
}

.videourl {
  display:none;
}

.video {
	display:none;
}

A:link {
	text-decoration: none;
	color:black;
}

A:visited {
	text-decoration: none;
	color:black;
}

A:active {
	text-decoration: none;
	color:black;
}

A:hover {
	text-decoration: none;
	font-weight:bold;
}

.titles {
	margin-left:50px;	
}